<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/errors', resource: @user %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :user_email %>
  </p><br>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, id: :user_password %>
  </p><br>

  <p>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </p><br>

<p><%= form.submit %></p>
<% end %>
