<h1>Passing the <%= @test_passage.test.title %> Test</h1>

<div class = "bar">
  <%= content_tag :div, "#{@test_passage.progress}",
                   class: 'my-progress', data: { value: @test_passage.progress } %>
</div>

<b>
  <h2><%= @test_passage.current_question.body %> ?</h2>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>

  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
  <p>
    <%= b.check_box id: "answer_ids_#{b.object.id}" %>
    <%= b.label %>
  </p>
  <% end %>

  <p><%= link_to t('.gist_question'), gist_test_passage_path(@test_passage), method: :post %></p>

  <button type="button" class="btn btn-success-outline"><%= form.submit 'Next' %></button>
<% end %>
