<%= form_with model: [:admin, @user_bage], local: true do |form| %>
  <%= render 'shared/errors', resource: @user_bage %>

  <p>
    <%= form.label :user_id %><br>
    <%= form.collection_select :user_id, User.all, :id, :email, prompt: true %>
  </p><br>

  <p>
    <%= form.label :bage_id %><br>
    <%= form.collection_select :bage_id, Bage.all, :id, :name, prompt: true %>
  </p><br>

  <p><%= form.submit %></p>

<% end %>
