<tr>
  <td class="align-middle">
    <%= content_tag :span, user_bage.user.email %>
  </td>
  <td class="align-middle">
    <%= content_tag :span, user_bage.bage.name %>
  </td>
  <td class="align-middle"><i class="material-icons md-36"> <%= user_bage.bage.url %></i></td>
  <td class="align-middle">
    <%= content_tag :span, rule_select_key(user_bage.bage.rule.to_i) %>
  </td>
  <td class="align-middle">
    <button type="button">
      <%= link_to "Show", admin_user_bage_path(user_bage) %>
    </button>
  </td>
  <td class="align-middle">
    <button type="button">
      <%= link_to "Edit", edit_admin_user_bage_path(user_bage) %>
    </button>
  </td>
  <td class="align-middle">
    <button type="button" class="btn btn-warning-outline">
      <%= link_to "Delete", admin_user_bage_path(user_bage),
                            method: :delete,
                            data: { confirm: "Are you sure? "} %>
    </button>
  </td>
</tr>
