<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.questions.count %></td>
  <td>
    <button type="button">
      <%= link_to t('.show'), admin_test_path(test) %>
    </button>
  </td>
  <td>
    <button type="button">
      <%= link_to t('.edit'), edit_admin_test_path(test) %>
    </button>
  </td>
  <td>
    <button type="button" class="btn btn-warning-outline">
      <%= link_to t('.delete'), admin_test_path(test),
                            method: :delete,
                            data: { confirm: "Are you sure? "} %>
    </button>
  </td>
</tr>
