<h1><%= t('.header') %></h1>

<button type="button" >
  <%=link_to t('.new_test'), new_admin_test_path %>
</button>

<button type="button" >
  <%=link_to "Show Badges menu", admin_bages_path %>
</button>

<button type="button" >
  <%=link_to "Show User Badges menu", admin_user_bages_path %>
</button>

<%= render 'shared/errors', resource: @test %>

<% if @tests.present? %>
<table class="table-sm table-striped table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon "arrow-down", class: 'text-succes hide' %>
      <%= octicon "arrow-up", class: 'text-succes hide' %>
      </th>
      <th><%= t('.level') %></th>
      <th><%= t('.count') %></th>
      <th> Timer </th>
      <th colspan="3"><%= t('.action') %></th>
    </tr>
  </thead>

  <%= render @tests%>

</table>
<% else %>
  <p>t('.zero')</p>
<% end %>
