<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.new_question'), new_admin_test_question_path(test_id: params[:id]) %>
</p>

<h2><%= t('.title', title: @test.title) %></h2>
<p><%= t('.level', level: test_level(@test) )%></p>

<% if @test.timer.nil? %>
<p> Timer off</p>
<% else %>
<p> Timer <%= @test.timer %></p>
<p> Timer_on</p>
<% end %>
<p><%= t('.count', count: @test.questions.count) %></p>
<p><%= t('.list') %></p>
<%= render @test.questions %>

<%= link_to t('.back'), admin_tests_path %>
