<h1>Tests</h1>

<p>
  <%= link_to 'New question', new_admin_test_question_path(test_id: params[:id]) %>
</p>

<h2>Title: <%= @test.title %></h2>
<p>Level: <%= test_level(@test) %></p>
<p>Quantity Questions: <%= @test.questions.count %></p>
<p>Questions list: </p>
<%= render @test.questions %>

<%= link_to 'Back', admin_tests_path %>
