<h1><%= t('.header') %></h1>

<% if @tests.present? %>
<table class="table-sm table-striped table-bordered">
  <thead class="thead-inverse">
  <tr>
    <th class="sort-by-title pointer">
    <%= t('.title') %>
    <%= octicon "arrow-down", class: 'text-succes hide' %>
    <%= octicon "arrow-up", class: 'text-succes hide' %>
    </th>
    <th><%= t('.level') %></th>
    <th><%= t('.action') %></th>
  </tr>
</thead>

  <%= render @tests%>

</table>
<% else %>
  <p>t('.zero')</p>
<% end %>
