<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <h1><%= link_to 'TestGuru', root_path %></h1>
    <%= render 'shared/flash' %>
    <%= render 'layouts/navigation' %>

    <%= yield %>
    <div class="footer"><%= render "shared/footer" %></div>
  </body>
</html>
